   
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> </body><nav class="navbar fixed-bottom navbar-dark  mx-auto"  style="background-color: #004085;">
  <ul class="nav navbar-nav mx-auto">
            
              
               <div id="ftr" class="text-center">
  CanaTech™ 2017 - Created by <a href="http://www.sumitarya.tk"> Sumit Arya</a> as part of <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank"> Colt Steele's Web Developer Bootcamp</a>
  </div>
              
            </a></li>
        </ul>
       
  <!--<a class="navbar-brand" href="#">Fixed bottom</a>-->
</nav>
</html>