.content-contact{
    padding-bottom: 10%;
}

body{
    padding-bottom: 3%;
}

#content{
    padding-top: 5%;
    padding-bottom: 5%;
}


 html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
   
}

/*===========================================================================*/
/*SCROLLING-NAV.CSS*/

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
/*===========================================================================*/


.fixed-top {
    margin-top: 56px;
}

/*body {*/
/*    padding-top: 105px;*/
/*}*/

#ftr{
     color:white;
}