.content-contact{
    padding-bottom: 10%;
}

body{
    padding-bottom: 3%;
    background-color: #d3e1ff;
}

#content{
    padding-top: 5%;
    padding-bottom: 5%;
}


 html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
   
}




.fixed-top {
    margin-top: 56px;
}

/*body {*/
/*    padding-top: 105px;*/
/*}*/

#ftr{
     color:white;
    
}
 .navbar-brand{
    font-size: 1.5em;
  }
  

  #content{
        padding-top:5%;
    }
    .card{
        padding:2%;
    }
    
     .billp{
         line-height: 20%;
     }
     
/*     ul #bri {*/
/*    width: 100px;*/
    
/*}*/
.right {
    float: right;

}
.il{
   list-style: none; 
}
#billtable{
    margin-top: 20px;
}

#billtablemargin{
    margin-bottom: 0px;
}

#space{
    line-height: 20px;
}

#fb{
    display: block;
    margin: auto;
    width:120px;
    height:120px;
}

.card:hover {
    background-color: #7bfc7f;
   
    -webkit-transition:transform background-color 500ms linear;
    -ms-transition:transform background-color 500ms linear;
    transition:transform background-color 500ms linear; 
}

.ilb{
    list-style: none;
    font-size: 1.3em;
    line-height: 0px;
}
#total_gross{
    font-weight: bold;
}

#billdiv{
    background-color: #f9fbff;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Share Tech Mono', monospace;
}



#dates{
    font-size: 12px;
}
#kotdiv{
    background-color: #f9fbff;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Share Tech Mono', monospace;
}
